/* CSS Document */
body, td, th, p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
  color: #333;
  line-height: 1.5; }

body {
  background-color: #fdfdfd;
  margin: 0;
  position: relative; }

ul, li {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
  color: #333; }

a {
  color: orange;
  text-decoration: none;

}

a:hover, a:focus {
  color: #3397db;
  text-decoration: none; }

a img {
  border: none 0px #fff; }

h1, h2, h3, h4, h5, h6 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0 20px;
font-weight:bold;
}

article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

.inside {
  width: 100%;
  height: 100%;
}
main {
  width:100%;
}
#maincontent {
  background-color: #f3f3f3;
  min-height: 100%;
}

#footer {
  background-color: #0c2251;
  color: white;
  font-size: 8pt;
  letter-spacing: 1px;
  padding-top: 25px;
  text-align: center;
  text-transform: uppercase;
 }

/* ====================== Navigation ====================== */
header nav {
  width: 100%;
  height:10vh;
  background-color: #0c2251;
  text-align: center;
  position:fixed;
  z-index:1000;
}

nav h1 {
  margin: auto;
  position:fixed;
  width:100%;
}

nav h1 a {
  color: #fff;
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 10px;
  text-transform: uppercase;
  text-align: center;
}

#breadcrumb {
  padding: 1em 1em 1em 1em ;
  list-style: none;
  background-color: #eee;
  font-size: 17px;
  margin: 0;
  height:10vh;
  top:10vh;
  width:100%;
  position:absolute;
  color:#0c2251;
  box-sizing:border-box;
}

/* Display list items side by side */
#breadcrumb li {
  display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li + li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
  color: #0c2251;
  text-decoration: none;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}

/* ====================== Map ====================== */
#map {
  height: 45vh;
  width: 100%;
  background-color: #ccc;
}

/* ====================== Restaurant Filtering ====================== */
.filter-options {
  width: 100%;
  height: 100%;
  background-color: #0c2251;
  align-items: center;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  position:fixed;
  top:55vh;
  height:8vh;
 }

.filter-options h2 {
  color: white ;
  font-size: 1rem;
  font-weight: bold;
  line-height: 1;
  margin: 0 1em;
}

.filter-options select {
  background-color: white;
  border: 1px solid #fff;
  font-family: Arial,sans-serif;
  font-size: 11pt;
  height: 40%;
  letter-spacing: 0;
  margin: 0.5em;
  padding: 0 0.5em;
 }

/* ====================== Restaurant Listing ====================== */
#indexcontent {
position:absolute;
  top:63vh;
}
#restaurants-list {
  background-color: #f3f3f3;
  list-style: outside none none;
  margin: 0;
  padding: 30px 15px 60px;
  text-align: center;
}

#restaurants-list li {
  background-color: #fff;
  border: 2px solid #ccc;
  font-family: Arial,sans-serif;
  margin: 15px;
  margin-right: 0px;
  margin-left: 0px;
  min-height: 380px;
  padding-bottom: 25px;
  text-align: center;
}

#restaurants-list .restaurant-img {
  background-color: #ccc;
  display: block;
  margin: 0;
  max-width: 100%;
  min-height: 248px;
  min-width: 100%;
}

#restaurants-list li h1 {
  color: #0c2251;
  font-family: Arial,sans-serif;
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 0;
  line-height: 1.3;
  margin: 20px 0 10px;
  text-transform: uppercase;
 }

#restaurants-list p {
  margin: 0;
  font-size: 11pt;
}

#restaurants-list li a {
  background-color: #0c2251;
  border-bottom: 3px solid #eee;
  color: #fff;
  display: inline-block;
  font-size: 10pt;
  font-weight:bold;
  margin: 15px 0 0;
  padding: 8px 30px 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

#map-container {
  background: blue none repeat scroll 0 0;
  position: fixed;
  top: 10vh;
  width: 100%;
  height: 45vh;
  z-index: 1;
  margin: 0;
}

a:focus, select:focus, option:focus {
  border:2px solid orange;
  box-shadow:0 0 10px white;
}
/* ====================== Restaurant Details ====================== */
#content {
  position:relative;
  width: 100%;
  top:65vh;
}
.inside header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.inside #map-container {
  background: blue none repeat scroll 0 0;
  position: fixed;
  top: 20vh;
  width: 100%;
  height: 45vh;
  z-index: 1;
  margin: 0;
 }

.inside #maincontent {
  width:100%;
}

.inside #map {
  background-color: #ccc;
  height: 100%;
  width: 100%;
}

.inside #footer {
  bottom: 0;
  position: relative;
  width: 100%;
  padding-right: 0px;
  padding-left: 0px;
}

#restaurant-name {
  color: #0c2251;
  font-family: Arial,sans-serif;
  font-size: 20pt;
  font-weight: 200;
  letter-spacing: 0;
  margin: 15px 0 30px;
  text-transform: uppercase;
  line-height: 1.1;
  text-align:center;
}

#restaurant-img {
  width: 90%;
  margin-left:1em;
  margin-bottom:1em;
}

#restaurant-address {
  font-size: 12pt;
  margin: 10px 0px; }

#restaurant-cuisine {
  background-color: #333;
  color: #ddd;
  font-size: 12pt;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 0 0 20px;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}

#restaurant-container, #reviews-container {
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #fff;
  padding-top: 10px;
  width: 50%;
}

#reviews-container {
  padding: 30px 40px 80px;
}

#reviews-container h2 {
  color: #f58500;
  font-size: 24pt;
  font-weight: 300;
  letter-spacing: -1px;
  padding-bottom: 1pt;
}

#reviews-list {
  margin: 0;
  padding: 0;
}

#reviews-list li {
  background-color: #fff;
  border: 2px solid #f3f3f3;
  display: block;
  list-style-type: none;
  margin: 0 0 10px;
  overflow: hidden;
  padding: 0 10px 10px;
  position: relative;
  width: 85%;
}

#reviews-list li p {
  margin: 0 0 10px;
}

#restaurant-hours td {
  color: #666;
  margin-left:0.7em;
}

/******************************Media queries*********************/
@media only screen and (max-width: 400px) {

    #maincontent #restaurant-container, #maincontent #reviews-container {
      padding-right: 0px;
      padding-left: 0px;
      width: 100%;
     }
}

@media only screen and (min-width: 401px) and (max-width: 550px) {

    #maincontent #restaurant-container, #maincontent #reviews-container {
      padding-right: 0px;
      padding-left: 0px;
      width: 100%;
      height: 50%;
    }

    #restaurant-container {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
    }

    #restaurant-name {
      width: 100%;
      order: 1;
      margin-left: 0.7em;
    }

    #restaurant-cuisine {
      width: 100%;
      order: 4;
    }

    #restaurant-address {
      width: 100%;
      order: 5;
    }

    #restaurant-img {
      max-width: 200px;
      max-height: 200px;
      width: 50%;
      order: 2;
      margin-left: 1em;
    }

    #restaurant-hours {
      width: 50%;
      order: 3;
      margin-left: 1em;
    }

    #restaurants-list {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      padding-right: 0px;
      padding-left: 0px;
    }

    #restaurants-list li {
      width: 40%;
      margin-left: 2em;
     }
}

@media only screen and (min-width: 551px) and (max-width: 800px) {

    #maincontent #restaurant-container, #maincontent #reviews-container {
      padding-right: 0px;
      padding-left: 0px;
      width: 100%;
      height: 50%;
    }
    #maincontent #reviews-list {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
    }

    #reviews-list li {
      width: 40%;
      margin: 1em;
    }

    #restaurant-container {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
    }

    #restaurant-name {
      width: 100%;
      order: 1;
      margin-left: 0.7em;
    }
    #restaurant-cuisine {
      width: 100%;
      order: 4;
    }
    #restaurant-address {
      width: 100%;
      order: 5;
    }
    #restaurant-img {
      max-width: 200px;
      max-height: 200px;
      width: 50%;
      order: 2;
      margin-left: 1em;
    }

    #restaurant-hours {
      width: 50%;
      order: 3;
      margin-left: 1em;
    }

    #restaurants-list {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      padding-right: 0px;
      padding-left: 0px;
    }

    #restaurants-list li {
      width: 30%;
      margin-left: 1em;
    }
}


@media only screen and (min-width: 801px) {

    body {
      margin: auto;
    }

    #maincontent #restaurant-container, #maincontent #reviews-container {
      padding-right: 0px;
      padding-left: 0px;
      width: 100%;
      height: 50%;
    }

    #maincontent #reviews-list {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
    }
    #reviews-list li {
      width: 40%;
      margin: 1em;
    }

    #restaurant-container {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
    }

    #restaurant-name {
      width: 100%;
      order: 1;
      margin-left: 0.7em;
    }

    #restaurant-cuisine {
      width: 100%;
      order: 4;
    }

    #restaurant-address {
      width: 100%;
      order: 5;
    }

    #restaurant-img {
      max-width: 200px;
      max-height: 200px;
      width: 50%;
      order: 2;
      margin-left: 1em;
    }

    #restaurant-hours {
      width: 50%;
      order: 3;
      margin-left: 1em; }

    #restaurants-list {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      padding-right: 0px;
      padding-left: 0px;
    }
    #restaurants-list li {
      width: 30%;
      margin-left: 1em;
    }
}
